.index{
    text-align: center;

    h1{
      margin: 10px 0px;
    }

    .quote{
      display: inline-block;
      color: grey;
      margin: 0px 0px 50px;
    }
    .list{
        text-align: left;
        margin: auto;
    }
}